version: 2
updates:
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'weekly'

  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'weekly'
    groups:
      comunica:
        patterns:
          - '@comunica/*'
      eslint:
        patterns:
          - '@typescript-eslint/*'
          - 'eslint'
      fastify:
        patterns:
          - '@fastify/*'
          - 'fastify'
      nx:
        patterns:
          - '@nx/*'
          - 'nx'
      vitest:
        patterns:
          - '@vitest/*'
          - 'vitest'
