<pre class='metadata'>
Title: Requirements for Datasets
Shortname: nde-datasets
Level: 1
Status: LS
!Version: <a href="#v1.8.0">1.8.0</a>
Markup Shorthands: css yes, markdown yes
URL: https://docs.nde.nl/requirements-datasets/
Editor:
    David de Boer, Netwerk Digitaal Erfgoed https://www.netwerkdigitaalerfgoed.nl, david@ddeboer.nl, https://github.com/ddeboer
    Bob Coret, Netwerk Digitaal Erfgoed https://netwerkdigitaalerfgoed.nl, bob.coret@netwerkdigitaalerfgoed.nl, https://twitter.com/coret
Abstract: This document describes requirements for publishing dataset descriptions.
    By following these requirements, publishers enable users to find and use their datasets.
</pre>

<style>
td, th {
    vertical-align: top;
}
</style>

Introduction {#introduction}
============

*This section is non-normative.*

To enable [=datasets=] to be found and used,
they must be described according to a well-documented,
shared and [=machine-readability|machine-readable=] publication model.

This document describes such a model and its rules.
When [=publishers=] make their [=dataset descriptions=] adhere to these rules,
they enable consumers – both humans and machines – to use the datasets in new and better ways.

These requirements prescribe the metadata that publishers must provide for their dataset.
This metadata tells [=consumers=]:

- what the dataset is called and under what license it is published ([[#dataset-information]]);
- which person/organization has published the dataset ([[#creator-publisher-information]]);
- where the data can be found ([[#dataset-distributions]]).

Audience {#audience}
--------------------

This document is mainly geared towards two groups of readers.

Digital heritage collection managers can follow the requirements in this document to make their published datasets findable and usable,
for instance through [Google Dataset Search](https://datasetsearch.research.google.com)
and the [NDE Dataset Register](https://datasetregister.netwerkdigitaalerfgoed.nl/?lang=en).

Suppliers of collection management systems can implement these requirements in their software
to help collection managers using it to publish datasets in the correct format.
These requirements are scoped to the online publication output of collection management systems;
they do not prescribe how those systems should store data internally.

Context {#context}
------------------

While focused on digital heritage institutions in The Netherlands,
this document is based on broader, international best practices for publishing datasets, including [[DWBP-UCR]], [[DWBP]] and [[LD-BP]].

These requirements incorporate a previous [publication model](https://github.com/netwerk-digitaal-erfgoed/project-organisations-datasets/tree/master/publication-model),
which provides more background on choices made here.

Code examples {#examples}
-------------------------

RDF code examples are in the [[SCHEMA-ORG]] vocabulary, serialized as [[JSON-LD]].

While other vocabularies, such as [[VOCAB-DCAT-3]] can also be used,
Schema.org has the advantage that it's [better picked up by search engines](https://github.com/netwerk-digitaal-erfgoed/project-organisations-datasets/tree/master/publication-model#considerations),
improving findability, one of the main goals of publishing datasets on the web.

Definitions {#definitions}
===========

: <dfn>Dataset</dfn>
:: A collection of metadata records. These are made available through the dataset's [=distributions=].

: <dfn>Dataset description</dfn>
:: Metadata about the [=dataset=], including the dataset's name and [=publisher=].
    This description must be distinguished from the metadata records themselves.

    For example: imagine a dataset of Van Gogh paintings called ‘Sunflowers’,
    which is published by the Van Gogh Museum under a specific license.
    The name, license and publisher are all part of the dataset description.
    The dataset description also tells us the URLs of distributions where we can download or query the data.
    Using these distributions, we can access the metadata records themselves,
    which may include descriptions of paintings, persons, places etc.
    These are *not* part of the dataset description.

: <dfn>Data catalog</dfn>
:: A collection of [=dataset descriptions=].

: <dfn>Distribution</dfn>
:: A channel through which a [=dataset=] is made available,
    either for downloading (such as a CSV file download or RDF dump),
    or for querying (such as a [[SPARQL11-OVERVIEW|SPARQL]] endpoint).

: <dfn>Web API</dfn>
:: An API that is available over HTTP, for example an OAI-PMH, OpenAPI or SPARQL endpoint.

: <dfn>Machine-readability</dfn>
:: Issue: TODO

: <dfn>Publisher</dfn>
:: An individual or organization that provides one or more [=datasets=].

    Issue: is this a good translation for ‘bronhouder’? And add examples.
    This would probably be 'heritage institution' in <a href="https://www.netwerkdigitaalerfgoed.nl/wp-content/uploads/2019/05/190513-DERA2.0-ENG.pdf">DERA</a>.

: <dfn>Consumer</dfn>
:: On organization, individual or service platform that uses one or more [=datasets=] that are provided by a [=publisher=].

Conceptual model {#conceptual-model}
===============

The model consists of four resource types: [=publisher|organizations or persons=] publish [=datasets=], which are available in [=distributions=].
Optionally, the datasets are grouped in data catalogs.

<pre class=include-raw>
path: model.svg
</pre>

Requirements {#requirements}
============

## Available in RDF ## {#rdf}

For [=machine-readability|machine-readable=] access to data,
it needs to be published in an [[RDF11-PRIMER#section-graph-syntax|RDF format]].
RDF formats include [[JSON-LD]], [[N3]] and [[Turtle]].

> [=Publishers=] *MUST* make their [=dataset description=] available in RDF.

Both the Schema.org and DCAT vocabularies *MAY* be used;
Schema.org is [[#examples|recommended]].

<div class="example">
    <a href="https://developers.google.com/search/docs/guides/intro-structured-data#structured-data">Google recommends</a>
    including the JSON-LD directly in the HTML source of web pages.

    So, on your organization's web page, for instance <a href="https://www.kb.nl">www.kb.nl</a>, include:

    <xmp highlight=html>
        <html>
          <head>
            <title>Koninklijke Bibliotheek</title>
            <script type="application/ld+json">
              {
                "@context": "https://schema.org/",
                "@type": "Organization",
                "@id": "https://www.kb.nl",
                "name": {
                  "@value": "Koninklijke Bibliotheek",
                  "@language": "nl"
                }
              }
            </script>
          </head>
          <body>
            Here continues the web page of the organization...
          </body>
        </html>
    </xmp>
</div>

See also [[DWBP-UCR#R-FormatMachineRead]].

### Content-Type ### {#content-type}

Clients that retrieve [=dataset descriptions=] rely on the HTTP `Content-Type` header
to determine how the response should be parsed.

> Therefore, the URL at which a [=dataset description=] is published
> *MUST* be served with a `Content-Type` header whose media type matches the RDF serialization of the response body.

Recognized RDF media types include `application/ld+json` for [[JSON-LD]], `text/turtle` for [[Turtle]],
`application/n-triples` for [[N-TRIPLES]] and `application/rdf+xml` for RDF/XML.
When the [=dataset description=] is embedded in an HTML page (see [[#rdf]]), `text/html` is acceptable.

### Durable identifiers ### {#identifiers}

[=Consumers=] want to refer to datasets. They prefer to do so by linking to them.

> Therefore, publishers *MUST* maintain a permanent and unique identifier for each [=dataset=].
> Publishers *MUST* use HTTP [[IRI|IRIs]] as identifiers.

See also [[DWBP-UCR#R-UniqueIdentifier]] and [[DWBP-UCR#R-PersistentIdentification]].

### Resolvable dataset IRIs ### {#resolvable-iris}

[=Consumers=] want to look up a [=dataset=] by its IRI.
When the dataset IRI resolves, consumers can retrieve both the machine-readable [=dataset description=] (via [content negotiation](https://httpwg.org/specs/rfc9110.html#content.negotiation))
and a human-readable HTML page without needing a separate landing page URL.

> Therefore, publishers *SHOULD* ensure that the dataset IRI resolves
> and serves both an RDF representation (the [=dataset description=]) and an HTML representation.
> The HTML representation *MUST* be consistent with and include at least all details (such as distributions) from the RDF representation.

When the dataset IRI resolves to an HTML page, a separate `mainEntityOfPage` is not needed (see [[#more-information]]).

### Information remains available ### {#available}

Datasets will be used by all kinds of [=consumers=] and their systems.
For stability, users must be able to trust that the datasets will remain available
so they can be consulted in the future.

> Therefore, publishers *MUST* ensure information remains available in the future.

## Dataset information ## {#dataset-information}

[=Consumers=] want to consult information about the [=dataset=] to decide whether and how they want to use its data.
This information answers user questions such as:

- What is the name of the dataset?
- What is the dataset about? What kind of data does the dataset contain?
- How recent is the data? When was the dataset last published?
- How can I use the data? Are there any restrictions? Under which license is the data published?
- Where can I get the data? In what formats?

### Basic information ### {#dataset-basic}

Publishers *MUST* include basic information about the dataset, at the very minimum its HTTP [[IRI]] and name.

<div class="example">
    Basic dataset information:

    <pre highlight=json-ld>
        {
          "@context": "https://schema.org/",
          "@type": "Dataset",
          "@id": "http://data.bibliotheken.nl/doc/dataset/rise-alba",
          "name": [
            {
              "@value": "Alba amicorum van de Koninklijke Bibliotheek",
              "@language": "nl"
            },
            {
              "@value": "Alba amicorum of the Dutch Royal Library",
              "@language": "en"
            }
          ]
        }
    </pre>
</div>

{% assign dataset = nodeShapes | where: 'targetClass', 'schema:Dataset' | first -%}

{% assign license = dataset.property | mergePropertiesByPath | where: 'path', 'schema:license' | first -%}

### {{ license.name | lang: 'en' }} ### {#dataset-{{ license.name | lang: 'en' | downcase }}}

{{ license.description | lang: 'en' }}

<div class="example">
    Specify a license for the dataset:

    <pre highlight=json-ld>
        {
          "@context": "https://schema.org/",
          "@type": "Dataset",
          "license": "https://creativecommons.org/publicdomain/zero/1.0/"
        }
    </pre>
</div>

[DCAT-AP-NL 3.0](https://docs.geostandaarden.nl/dcat/dcat-ap-nl30/) requires the use of Creative Commons licences
and defines a [value list](https://definities.geostandaarden.nl/dcat-ap-nl/id/waardelijst/licenties/) for licences.
The default *SHOULD* be [CC0](https://creativecommons.org/publicdomain/zero/1.0/) (`https://creativecommons.org/publicdomain/zero/1.0/`).
The following table lists the recommended canonical license IRIs.
Creative Commons IRIs *MUST* use `https://` and end with a trailing slash.

<table class="data">
    <thead>
        <tr><th>Canonical IRI</th></tr>
    </thead>
    <tbody>
        {% for uri in license.in -%}
        <tr><td>`{{ uri }}`</td></tr>
        {% endfor -%}
    </tbody>
</table>

<div class="advisement">
    In v2.0 of this specification, the license *MUST* be one of the IRIs listed above.
</div>

See also [[DWBP-UCR#R-LicenseAvailable]].

### Creation, publication and modification dates ### {#dataset-date}

Publishers *SHOULD* make known when the [=dataset description=] was originally created, published and when it was last updated.
The dates *MUST* be valid according to [[!ISO8601]].

<div class="example">
    Specify dataset description dates:

    <pre highlight=json-ld>
        {
          "@context": "https://schema.org/",
          "@type": "Dataset",
          "dateCreated": "2019-04-14",
          "datePublished": "2019-05-21",
          "dateModified": "2019-08-15"
        }
    </pre>
</div>

### Versions ### {#dataset-versions}

A [=dataset description=] may change over time.
[=Consumers=], such as researchers, may want to determine which information was valid at a certain moment.

> Therefore, publishers *SHOULD* not only publish the current version of the dataset description,
> but keep historical versions accessible to users.

It is up to the [=publisher=] to determine when to publish new versions.

See also [[DWBP#dataVersioning]].

### More information ### {#more-information}

If more information is available, publishers *SHOULD* add it.

<div class="example">
    More information about the dataset.

    <pre highlight=json-ld line-numbers>
        {
          "@context": "https://schema.org/",
          "@type": "Dataset",
          "description": {
            "@value": "Alba amicorum van de Koninklijke Bibliotheek, een dataset gedefinieerd voor het Europeana Rise of Literacy project.",
            "@language": "nl"
          },
          "mainEntityOfPage": "https://www.kb.nl/bronnen-zoekwijzers/kb-collecties/moderne-handschriften-vanaf-ca-1550/alba-amicorum",
          "keywords": [
            "alba amicorum"
          ]
        }
    </pre>
</div>

See [[#dataset-attributes]] for an overview of attributes.

## Creator/publisher information ## {#creator-publisher-information}

Users want to know where the [=dataset=] came from ([[DWBP#provenance|provenance]]).
The dataset's creator and/or [=publisher=] is either a person or an organization.
Providing information about the person/organization behind the dataset answers user questions such as:

- Which person/organization has published this dataset? How reliable and credible does that make the dataset?
- How can I contact the person/organization for questions or feedback?

> Therefore, publishers *MUST* publish basic information about the person/organization.
> At the least, the organization’s name and HTTP IRI must be provided.
> The organization’s name *SHOULD* be a language-tagged string.

<div class="example">
    An organization description:

    <pre highlight=json-ld>
      {
        "@context": "https://schema.org/",
        "@type": "Organization",
        "@id": "https://www.kb.nl",
        "name": {
          "@value": "Koninklijke Bibliotheek",
          "@language": "nl"
        },
        "alternateName": {
          "@value": "KB",
          "@language": "nl"
        }
      }
    </pre>
</div>

See [[#organization-attributes]] for a full overview of organization attributes.

<div class="example">
    A person description:

    <pre highlight=json-ld>
      {
        "@context": "https://schema.org/",
        "@type": "Person",
        "@id": "https://example.com",
        "name": {
            "@value": "Jan Jansen",
            "@language": "nl"
        }
      }
    </pre>
</div>

### ISIL identifier ### {#isil}

> Publishers *SHOULD* include the organization's [ISIL code](https://www.nationaalarchief.nl/archiveren/kennisbank/isil-codes).

<div class="example">
    An organization with an ISIL code:

    <pre highlight=json-ld>
      {
        "@context": "https://schema.org/",
        "@type": "Organization",
        "@id": "https://www.kb.nl",
        "identifier": "NL-HaKB"
      }
    </pre>
</div>

### Contact information ### {#contact}

Publishers *SHOULD* include contact information so [=consumers=] can reach them with questions or feedback.
If contact information is provided, it *MUST* include a name and e-mail address.
The e-mail address *SHOULD* be an organizational or departmental address rather than a personal one for GDPR compliance.

<div class="example">
    A publisher with contact information.

    <pre highlight=json-ld line-numbers line-highlight="9-17">
        {
          "@context": "https://schema.org/",
          "@type": "Dataset",
          "publisher": {
            "@type": "Organization",
            "@id": "https://www.kb.nl",
            "name": "Koninklijke Bibliotheek",
            "alternateName": "KB",
            "contactPoint": {
              "@type": "ContactPoint",
              "name": {
                "@value": "Datasets Department",
                "@language": "en"
              },
              "email": "datasets@kb.nl",
              "telephone": "+31 6 12345678"
            }
          }
        }
    </pre>
</div>

### Dataset publisher ### {#dataset-publisher}

The person/organization data is then included as the dataset's publisher:

<div class="example">
    A dataset with an organization as publisher.

    <pre highlight=json-ld>
        {
          "@context": "https://schema.org/",
          "@type": "Dataset",
          "publisher": {
            "@type": "Organization",
            "@id": "https://www.kb.nl",
            "identifier": "NL-HaKB"
            "name": {
                "@value": "Koninklijke Bibliotheek",
                "language": "nl"
            },
            "alternateName": {
                "@value": "KB",
                "@language": "nl"
            },
            "contactPoint": {
              "@type": "ContactPoint",
              "name": {
                "@value": "Datasets Department",
                "@language": "en"
              },
              "email": "datasets@kb.nl",
              "telephone": "+31 6 12345678"
            }
          }
        }
    </pre>
</div>

<div class="example">
    A dataset with a person as publisher.

    <pre highlight=json-ld>
        {
          "@context": "https://schema.org/",
          "@type": "Dataset",
          "publisher": {
            "@type": "Person",
            "@id": "https://example.com",
            "name": {
              "@value": "Jan Jansen",
              "@language": "nl"
            }
          }
        }
    </pre>
</div>

## Distributions ## {#dataset-distributions}

[=Consumers=] that are interested in a dataset should be able to access the data in it.
[=Distributions=] tell consumers where and how they can get the data.

> Therefore, publishers *SHOULD* add at least one distribution.
> Each distribution *MUST* have at least a MIME format and the URL where the distribution can be accessed.

Examples of distributions are data dumps in one or more RDF serializations, such as JSON-LD and Turtle,
CSV files, SPARQL endpoints, OAI-PMH endpoints or other [=web APIs=].
All distributions of a dataset *MUST* contain broadly the same data.

<div class="example">
    A minimal definition of a SPARQL endpoint distribution.
    In the Schema.org vocabulary, each type of distribution is called a [DataDownload](https://schema.org/DataDownload),
    even if it is a query endpoint.

    <pre highlight=json-ld>
        {
          "@context": "https://schema.org/",
          "@type": "DataDownload",
          "contentUrl": "http://vocab.getty.edu/sparql",
          "usageInfo": "https://www.w3.org/TR/sparql11-protocol/"
        }
    </pre>
</div>

The distributions are then included under the `distribution` attribute with the dataset.

<div class="example">
    A dataset with one SPARQL and two download distributions.

    <pre highlight=json-ld>
        {
          "@context": "https://schema.org/",
          "@type": "Dataset",
          "distribution": [
            {
              "@id": "http://vocab.getty.edu/aat/sparql",
              "@type": "DataDownload",
              "contentUrl": "http://vocab.getty.edu/sparql",
              "usageInfo": "https://www.w3.org/TR/sparql11-protocol/"
            },
            {
              "@type": "DataDownload",
              "encodingFormat": "application/ld+json",
              "contentUrl": "http://data.bibliotheken.nl/id/dataset/rise-alba.json"
            },
            {
              "@type": "DataDownload",
              "encodingFormat": "text/csv+gzip",
              "contentUrl": "https://example.com/data.csv.gz"
            }
          ]
        }
    </pre>
</div>

See [[#distribution-attributes]] for a full overview.

<div class="advisement">
    In v2.0 of this specification, <code>contentUrl</code> *MUST* be an <code>xsd:anyURI</code> literal.
    IRIs will no longer be accepted.
</div>

### Creation and modification dates ### {#distribution-date}

Publishers *SHOULD* make known when the [=distribution=] was originally created and when it was last updated,
so [=consumers=] can efficiently stay up-to-date with the latest changes.
Please note that this is different from [[#dataset-date|dataset description's dates]].
Datetimes (`2019-08-15T08:05:00Z`) are preferred because they offer greater precision,
but simple dates (`2019-04-14`) are also allowed.

<div class="example">
    Specify distribution dates:

    <pre highlight=json-ld>
        {
          "@context": "https://schema.org/",
          "@type": "Distribution",
          "dateCreated": "2019-04-14",
          "dateModified": "2019-08-15T08:05:00"
        }
    </pre>
</div>

### Usage information ### {#usage-information}

Each distribution *SHOULD* include one or more [schema:usageInfo](https://schema.org/usageInfo) IRIs
that describe what the distribution provides.

For [=web APIs=], this *MUST* be the IRI of the protocol specification (such as SPARQL or OAI-PMH).
The Dataset Register uses this IRI to identify the distribution as an API.

For downloads as well as APIs, this *MUST* be the IRI of the application profile(s) that the data conforms to.

<table>
    <caption>Recommended IRIs for typing distributions</caption>
    <thead>
        <tr>
            <th>Item</th>
            <th>Type</th>
            <th>Applies to</th>
            <th>IRI</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">GraphQL</th>
            <td>Protocol</td>
            <td>API</td>
            <td>https://spec.graphql.org/</td>
        </tr>
        <tr>
            <th scope="row">Linked Art</th>
            <td>Application profile</td>
            <td>API, download</td>
            <td>https://linked.art/model/</td>
        </tr>
        <tr>
            <th scope="row">OAI-PMH</th>
            <td>Protocol</td>
            <td>API</td>
            <td>http://www.openarchives.org/pmh/</td>
        </tr>
        <tr>
            <th scope="row">OpenAPI REST</th>
            <td>Protocol</td>
            <td>API</td>
            <td>https://spec.openapis.org/oas/v3.2.0.html</td>
        </tr>
        <tr>
            <th scope="row">[[SCHEMA-AP-NDE]]</th>
            <td>Application profile</td>
            <td>API, download</td>
            <td>https://docs.nde.nl/schema-profile/</td>
        </tr>
        <tr>
            <th scope="row">SPARQL</th>
            <td>Protocol</td>
            <td>API</td>
            <td>https://www.w3.org/TR/sparql11-protocol/</td>
        </tr>
        <tr>
            <th scope="row">TPF</th>
            <td>Protocol</td>
            <td>API</td>
            <td>https://linkeddatafragments.org/specification/triple-pattern-fragments/</td>
        </tr>
        <tr>
            <th scope="row">WMS</th>
            <td>Protocol</td>
            <td>API</td>
            <td>https://www.ogc.org/standards/wms/</td>
        </tr>
    </tbody>
</table>

<div class="example">
    A download distribution that conforms to [[SCHEMA-AP-NDE]]:

    <pre highlight=json-ld>
        {
          "@context": "https://schema.org/",
          "@type": "DataDownload",
          "encodingFormat": "application/ld+json",
          "contentUrl": "https://example.com/data.jsonld",
          "usageInfo": "https://docs.nde.nl/schema-profile/"
        }
    </pre>
</div>

<div class="example">
    A SPARQL distribution that returns RDF conforming to [[SCHEMA-AP-NDE]]:

    <pre highlight=json-ld>
        {
          "@context": "https://schema.org/",
          "@type": "DataDownload",
          "contentUrl": "https://example.com/sparql",
          "usageInfo": [ "https://www.w3.org/TR/sparql11-protocol/", "https://docs.nde.nl/schema-profile/" ]
        }
    </pre>
</div>

See also [[DWBP-UCR#R-APIDocumented]].

## Data catalog ## {#data-catalog-info}

A [=data catalog=] provides [=consumers=] with a complete overview of available [=dataset descriptions=],
which improves discoverability.

> Therefore, publishers *SHOULD* provide a catalog.

<div class="example">
    A catalog of available datasets:

    <pre highlight=json-ld>
        {
          "@context": "https://schema.org/",
          "@type": "DataCatalog",
          "@id": "http://data.bibliotheken.nl/id/datacatalog",
          "name": {
            "@value": "Linked Data van de KB",
            "@language": "nl"
          },
          "description": {
            "@value": "Alle linked data zoals beschikbaar gesteld door de Koninklijke Bibliotheek.",
            "@language": "nl"
          },
          "publisher": {
            "@type": "Organization",
            "@id": "https://www.kb.nl/",
            "name": {
              "@value": "Koninklijke Bibliotheek",
              "@language": "nl"
            }
          },
          "dataset": [
            {
              "@type": "Dataset",
              "@id": "http://data.bibliotheken.nl/id/dataset/rise-alba",
              ...
            },
            {
              ...
            }
          ]
        }
    </pre>
</div>

See [[#datacatalog-attributes]] for a full overview of catalog attributes.

### Pagination ### {#data-catalog-pagination}

Large [=data catalogs=] may be harder to process for clients.

> Therefore, [=publishers=] *SHOULD* split large data catalogs in parts of at most a 1000 datasets, using the
> [Hydra Core Vocabulary](https://www.markus-lanthaler.com/hydra/spec/latest/core/#example-20-a-hydra-partialcollectionview-splits-a-collection-into-multiple-views).

Each page *MUST* be a complete RDF document in itself.
Related resources, such as the publishing organization, must be described on each page,
even if that resource is the same on all pages.

<div class="example">
    A paginated catalog:

    <pre highlight=json-ld line-numbers line-highlight="4,6,16-23">
        {
          "@context": [
            "https://schema.org/",
            {"hydra": "http://www.w3.org/ns/hydra/core#"}
          ],
          "@type": ["DataCatalog", "hydra:Collection"],
          "@id": "https://example.com/catalog",
          "name": {
            "@value": "Paginated catalog of datasets",
            "@language": "en"
          },
          "description": {
            "@value": "This catalog is paginated using the Hydra Core Vocabulary.",
            "@language": "en"
          },
          "publisher": {
            "@type": "Organization",
            "@id": "/publisher",
            "name": {
              "@value": "Example Publisher",
              "@language": "en"
            }
          },
          "hydra:view": {
            "@id": "/catalog?page=1",
            "@type": "hydra:PartialCollectionView",
            "hydra:first": {"@id": "/catalog?page=1"},
            "hydra:next": {"@id": "/catalog?page=2"},
            "hydra:last": {"@id": "/catalog?page=498"}
          },
          "dataset": [
            {
              "@type": "Dataset",
              "@id": "https://example.com/dataset/1",
              ...
            },
            {
              "@type": "Dataset",
              "@id": "https://example.com/dataset/2",
              ...
            },
            ...
          ]
        }
    </pre>
</div>

## Overview of attributes ## {#overview}

This is an overview of required and recommended attributes.

{% assign datasetShape = nodeShapes | where: 'targetClass', 'schema:Dataset' | first -%}
{% render 'attributes', name: 'Dataset', nodeShape: datasetShape %}

{% for shape in nodeShapes -%}
{%- if shape['@id'] == 'nde-dataset:AgentShape' %}{% assign organizationShape = shape %}{% endif -%}
{%- if shape['@id'] == 'nde-dataset:DistributionShape' %}{% assign distributionShape = shape %}{% endif -%}
{%- endfor %}
{% render 'attributes', name: 'Organization', nodeShape: organizationShape, targetClass: 'schema:Organization' %}

{% render 'attributes', name: 'Distribution', nodeShape: distributionShape, targetClass: 'schema:DataDownload' %}

{% assign catalogShape = nodeShapes | where: 'class', 'schema:DataCatalog' | first -%}
{% render 'attributes', name: 'DataCatalog', nodeShape: catalogShape %}

### Full example ### {#dataset-example}

<div class="example">
    A full [=dataset description=] that includes [[#dataset-attributes|required and recommended attributes]].

    <pre class=include-code>
    path: examples/dataset-schema-org-valid.jsonld
    highlight: json-ld
    </pre>
</div>

Tools {#tools}
=============

*This section is non-normative.*

Developers can use the [NDE Register API](https://demo.netwerkdigitaalerfgoed.nl/register-api/) to validate datasets and catalogs against the requirements described in this document.
The [[SHACL]] shape graph used to validate datasets and catalogs is available at [/shacl](https://demo.netwerkdigitaalerfgoed.nl/register-api/shacl).

Google's [Rich Results Test](https://search.google.com/test/rich-results) (previously Structured Data Testing Tool)
can help with testing RDF metadata in general.

Changes {#changes}
==================

This section lists notable changes to this specification.

<!-- CHANGELOG-START -->
Version 1.8.0 (2026-04-20) {#v1.8.0}
----------

- Require SPARQL protocol URI in usageInfo for SPARQL mediaType ([0dfc6c6](https://github.com/netwerk-digitaal-erfgoed/dataset-register/commit/0dfc6c620a47a234ae5951a35e637d5a0cb7981f)).
- Align Distribution with DCAT-AP-NL 3.0 (title + description) ([e901005](https://github.com/netwerk-digitaal-erfgoed/dataset-register/commit/e90100529b220aeed62cf98b2a025d4a5543dade)).
- Split publisher min/max-count constraints into separate shapes ([2e060e4](https://github.com/netwerk-digitaal-erfgoed/dataset-register/commit/2e060e4d6fef18890daa95374cf3818b78c02bff)).

Version 1.7.0 (2026-04-20) {#v1.7.0}
----------

- Map schema:temporalCoverage to dct:PeriodOfTime ([a700556](https://github.com/netwerk-digitaal-erfgoed/dataset-register/commit/a700556f29831d19d0780f43de0658639833c179)).
- Accept ISO 8601 shortened-end intervals in temporalCoverage ([61ffdf7](https://github.com/netwerk-digitaal-erfgoed/dataset-register/commit/61ffdf7c4a302ad2795f16217d3fc44c03f3f378)).

Version 1.6.0 (2026-04-16) {#v1.6.0}
----------

- Deprecate schema:genre; make schema:about canonical for dcat:theme ([bdbd789](https://github.com/netwerk-digitaal-erfgoed/dataset-register/commit/bdbd78973b533f1ed7cddb0ef6e5e5118d77b85f)).
- Target sh:nodeKind sh:IRI for contentUrl in v2, not xsd:anyURI ([1e86b9f](https://github.com/netwerk-digitaal-erfgoed/dataset-register/commit/1e86b9fa0df1b0f3e61b325c6c6e7d9954c185e1)).

Version 1.5.3 (2026-04-15) {#v1.5.3}
----------

- Add Linked Art profile to distribution IRI table ([3c01ad5](https://github.com/netwerk-digitaal-erfgoed/dataset-register/commit/3c01ad56526dc1582f0609a504188cde1541178b)).

Version 1.5.2 (2026-04-13) {#v1.5.2}
----------

- Align publisher cardinality with DCAT-AP-NL 3.0 ([6af64c7](https://github.com/netwerk-digitaal-erfgoed/dataset-register/commit/6af64c73d26b7fe28dcf33244c92454f7814037c)).
- Mark ISO-8601 date pattern as v2.0 violation ([62d22e1](https://github.com/netwerk-digitaal-erfgoed/dataset-register/commit/62d22e1bd2a22b4d946ebe1ad82f43481877a19a)).
- Mark schema:contactPoint as v2.0 violation ([7aeab03](https://github.com/netwerk-digitaal-erfgoed/dataset-register/commit/7aeab03631f524ec2686d92713bc04f8a3ae9001)).
- Validate ISO-8601 dates on DCAT date properties ([ee09aec](https://github.com/netwerk-digitaal-erfgoed/dataset-register/commit/ee09aec487d8997ef50dc7ec807cda9f634b7c85)).

Version 1.5.1 (2026-04-10) {#v1.5.1}
----------

- Correct v2.0 annotation for IRI-constrained properties in spec ([63e694a](https://github.com/netwerk-digitaal-erfgoed/dataset-register/commit/63e694a7256b3666dbe3e2d64cc3207c65ddb81c)).
- Use single sh:message on SPARQL constraint for Jena compatibility ([5e67a50](https://github.com/netwerk-digitaal-erfgoed/dataset-register/commit/5e67a5004888e0d04690eb906f3bb543ca28425e)).
- Add resolvable dataset URI requirement and update mainEntityOfPage ([59f995d](https://github.com/netwerk-digitaal-erfgoed/dataset-register/commit/59f995ded5d4ae48f4b60160fc0e5a75e7901a61)).

Version 1.5.0 (2026-04-02) {#v1.5.0}
----------

- Recommended a set of canonical license URIs ([ec38c3a](https://github.com/netwerk-digitaal-erfgoed/dataset-register/commit/ec38c3ac4c5ebdcdded7d816e4490156a399ee35)).

Version 1.4.0 (2026-04-01) {#v1.4.0}
----------

- Add Content-Type requirement for registration URLs ([524dc42](https://github.com/netwerk-digitaal-erfgoed/dataset-register/commit/524dc42e3ba7f75e0ac1d0b2f994c0c703190ec0)).
- Add dct:accrualPeriodicity support for datasets ([8eebd71](https://github.com/netwerk-digitaal-erfgoed/dataset-register/commit/8eebd71cb674a344016808a723ad89de33e4ccbb)).
- Add maxCount 1 as future change for encodingFormat and mediaType ([9364133](https://github.com/netwerk-digitaal-erfgoed/dataset-register/commit/9364133edc05b6f4c2a437bf40bb0321e50238d2)).
- Preserve user-provided dcat:theme from DCAT input ([343b176](https://github.com/netwerk-digitaal-erfgoed/dataset-register/commit/343b176b3ebad609e88ef3f33501196e95bf3c98)).
- Remove dct:title from Distribution ([d957e44](https://github.com/netwerk-digitaal-erfgoed/dataset-register/commit/d957e4410f2243d85714c832d89eaf2bf281339a)).
- Validate includedInDataCatalog as HTTP IRI ([08484c6](https://github.com/netwerk-digitaal-erfgoed/dataset-register/commit/08484c6c0e98dcb5afd17186187ef9dddd5b5527)).
- Validate language tags on title, description, and name properties ([d99f2fb](https://github.com/netwerk-digitaal-erfgoed/dataset-register/commit/d99f2fbc1662b7ccb09def714257ae6ec3c11e7c)).
- Validate spatialCoverage and dct:spatial as HTTP IRI ([bbc02b5](https://github.com/netwerk-digitaal-erfgoed/dataset-register/commit/bbc02b57d3a47276a4c4e564988b60777c71b8e1)).
- Skip SHACL validation of inline DataCatalog references ([37c9437](https://github.com/netwerk-digitaal-erfgoed/dataset-register/commit/37c9437f5abfe2c6d859ca84939634fa104be7c4)).
- Rewrite ‘Developer documentation’ section as ‘Usage information’ ([ad5c22c](https://github.com/netwerk-digitaal-erfgoed/dataset-register/commit/ad5c22c42b5b6e50dfae662137e2af635622287e)).

Version 1.3.0 (2026-04-01) {#v1.3.0}
----------

- Differentiate API and download distributions per DCAT-AP-NL ([ba22143](https://github.com/netwerk-digitaal-erfgoed/dataset-register/commit/ba22143eb73aa8fb711b5b8892e15a080e7df398)).
- Normalize BCP 47 language codes to EU Language Authority URIs ([cbf1932](https://github.com/netwerk-digitaal-erfgoed/dataset-register/commit/cbf1932741db10d3aab784114a87383cd003d1b9)).
- Add Person to conceptual model diagram ([cd0b429](https://github.com/netwerk-digitaal-erfgoed/dataset-register/commit/cd0b42909f6811bd1c6f3d450f46a06b4c024078)).

Version 1.2.0 (2026-03-25) {#v1.2.0}
----------

- Add DCAT-AP-NL 3.0 requirements ([510a43c](https://github.com/netwerk-digitaal-erfgoed/dataset-register/commit/510a43c23179b28b211ebd52bd6e1246e49e943e)).

Version 1.1.0 (2026-03-25) {#v1.1.0}
----------

- Express future requirement changes in SHACL and spec ([3c3fbb7](https://github.com/netwerk-digitaal-erfgoed/dataset-register/commit/3c3fbb70926aacf2662db7ca21c865e751de2b46)).
<!-- CHANGELOG-END -->
